---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
import { Container } from "@smu-chile/pkg-unimarc-components";
import { TestComponent } from "./test";
---

<Container client:only="react" justifyContent="center">
  <TestComponent client:only="react" />
  <div>algo paso</div>
</Container>
